.float{
    float: left;
}
.text{
    
    color: white;
    font-size: large;
    text-align: justify;
}

.list{
    margin-left: 35%;
    margin-right: 35%;
    border-style: double;
    border-color: wheat;
    border-collapse: collapse;
    margin-bottom: 60px;
}

.ele{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    margin-bottom: 1%;
}


.image{
    border: 5px solid white;
    margin-left: 15%;
    height : 18%;
    width:  18%;
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 2%;
}

.grow {
    padding-left: 5%;
  }
  
  .grow:hover {
    text-shadow: 0 0 6px #1230da;
  }
  
  @media (min-width: 600px){
    .grow {
      transition: all 0.2s ease-in-out;
    }
    
    .grow:hover {
      transform: scale(1.2);
    }
  }
  

.heads{
    margin-top: 3%; margin-bottom: 3%;
    margin-left: 10%;
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 499px) {
    .text{
        font-size: small;
    }
}

.ext{
  margin: 2%;
  border: whitesmoke;
  border-style: double;
  padding: 3px;
}