.active3{
  text-shadow: 0 0 3px #1230da;
}

.imageL, .imageR {
    border: 5px solid white;
    height: 15%;
    width: 15%;
    min-width: 150px;
    min-height: 150px;
    margin-bottom: 2%;
  }
  
  .float {
    float: left;
  }

  .extras{
    height: 20%;
    width: 25%;
  }
  
  .text {
    color: white;
    font-size: large;
    text-align: justify;
    margin-bottom: 2%;
  }
  
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    margin-bottom: 1%;
  }
  
  .imageR {
    margin-left: 15%;
  }
  
  .imageL {
    margin-Right: 15%;
    margin-Left: 7%;
  }
  
  .grow {
    padding-left: 5%;
  }
  
  .grow:hover {
    text-shadow: 0 0 6px #1230da;
  }
  
  @media (min-width: 600px) {
    .grow {
      transition: all 0.2s ease-in-out;
    }
  
    .grow:hover {
      transform: scale(1.2);
    }
  }
  
  
  .heads {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    font-size: 30px;
    font-weight: bold;
  }
  
  .extra {
    margin-top: 9%;
  }
  
  @media (max-width: 499px) {
    .text {
      font-size: small;
    }

    .imageL{
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 7%;
    }
  .imageR{
      align-items: center;
    }

    .imageL, .imageR{
      min-width: 100px;
      min-height: 100px;
    }
  }
  
  